## MongoDB Database CRUD Operations from Jupyter Notebook with Python:

<br/>
<br/>
<img src=>

https://www.w3schools.com/python/python_mongodb_insert.asp
<br>
https://www.mongodb.com/try/download/community

#### Interacting with MongoDB using Python via Jupyter Notebook - alternative to IDE or Text Editor.

**Description**: Here I have written the statements to perform CRUD actions on **customer_details** collection in **mongodb_workshop** database from localhost server of MongoDB.

#### MongoDB CRUD methods with Python

**Create/Insert**:
> - insert_one()
> - insert_many()

**Read/Fetch**:
> - To find all documents - find()
> - To find one specific document - find({})

**Update**:
> - update_one()
> - update_many()

**Delete**:
> - delete_one()
> - delete_many()

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /Users/ullola_1710/opt/anaconda3/lib/python3.9/site-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/ullola_1710/opt/anaconda3/lib/python3.9/site-packages (from pymongo) (2.6.1)

In [2]:
import pymongo

In [3]:
# To connect to MongoDB server:
client = pymongo.MongoClient('localhost', 27017)

# Create Database:
db = client.mongodb_workshop

# Create Collection:
collection = db.collection["coach_details"]

collection_2 = db.collection ["Estudiantes"]

#### Data to store/insert into MongoDB Database:

In [4]:
# One document:
doc_1 = {"_id": 1, "first_name": "Roldoro", "gender": "M", "shift": ["AM", "PM"], "ph_num": 456378903, "trains_for": ["valleyball", "basketball"], "manager": "Jack"}

In [5]:
# Estudiantes document:
#doc_2 = {"_id": 2, "first_name": "Miguel", "second_name": "Martínez", "age": 32, "mean_grade": 72}

In [6]:
# Multiple documents:
docs = [
    {"first_name": "Miguel", "id": 1, "shift": "AM", "ph_num": 234564980, "trains_for": ["tennis", "badminton"], "manager": "Jack"},
    {"first_name": "Victor", "gender": "M", "shift": "AM", "ph_num": 987654321, "trains_for": ["valleyball", "basketball"], "manager": "Amin"},
    {"first_name": "Rosa", "gender": "M", "shift": "PM", "ph_num": 456234908, "trains_for": "badminton", "manager": "Amin"},
    {"first_name": "alberto", "gender": "M", "shift": "AM", "ph_num": 123456789, "trains_for": "tennis", "manager": "Jack"},
    {"first_name": "Emma", "gender": "F", "shift": "PM", "ph_num": 776655443, "trains_for": "indoor archery", "manager": "Amin"},
    {"first_name": "Hira", "gender": "F", "shift": ["AM", "PM"], "ph_num": 246813579, "trains_for": ["valleyball", "basketball"], "manager": "Jack"},
    {"first_name": "Isha", "gender": "F", "shift": "PM", "ph_num": 135792468, "trains_for": "indoor archery", "manager": "Amin"},
    {"first_name": "Alice", "gender": "M", "shift": "AM", "ph_num": 2244668800, "trains_for": "badminton", "manager": "Jack"},
    {"first_name": "Deepali", "gender": "F", "shift": ["AM", "PM"], "ph_num": 113355779, "trains_for": ["tennis", "badminton"], "manager": "Amin"}
]

In [7]:
# Multiple documents for doc_2:
docs_2 = [
    {"first_name": "Jade", "id": 3, "second_name": "Ullola", "age": 20, "mean_grade": 99},
    {"first_name": "Marco", "second_name": "Mayoral", "age": 21, "mean_grade": 91},
    {"first_name": "Celic", "second_name": "Hernández", "age": 21, "mean_grade": 98},
    {"first_name": "Diego", "second_name": "Malerva", "age": 21, "mean_grade": 98},
    {"first_name": "Emilio", "second_name": "Sonck", "age": 20, "mean_grade": 94},
    {"first_name": "Luis", "second_name": "Lezama", "age": 20, "mean_grade": 99},
    {"first_name": "Diego", "second_name": "García", "age": 20, "mean_grade": 97},
    {"first_name": "Emilio", "second_name": "López", "age": 20, "mean_grade": 91},
    {"first_name": "Jesús", "second_name": "Atacho", "age": 20, "mean_grade": 98},
    {"first_name": "Ian", "second_name": "Reyes", "age": 25, "mean_grade": 96}
]

In [ ]:
# Dummy documents:
test_docs = [
    {"first_name": "test_1", "gender": "F", "shift": "AM", "ph_num": 234564980, "trains_for": ["tennis", "badminton"], "manager": "Jack"},
    {"first_name": "test_2", "gender": "M", "shift": "AM", "ph_num": 987654321, "trains_for": ["valleyball", "basketball"], "manager": "Amin"},
    {"_id":14, "first_name": "test_3", "gender": "M", "shift": "AM", "ph_num": 987654321, "trains_for": ["valleyball", "basketball"], "manager": "Amin"}
]

In [ ]:
# Dummy Document:
test_doc = {"_id":14, "first_name": "test", "gender": "M", "shift": "AM", "ph_num": 987654321, "trains_for": ["valleyball", "basketball"], "manager": "Amin"}

#### To insert documents to the above collection 'coach_details':

In [8]:
# To insert one document:
collection.insert_one(doc_1)

InsertOneResult(1, acknowledged=True)

In [9]:
# To insert multiple documents:
collection.insert_many(docs)
collection_2.insert_many(docs_2)

InsertManyResult([ObjectId('65f0e4a5bf8dd66eb75c3d4d'), ObjectId('65f0e4a5bf8dd66eb75c3d4e'), ObjectId('65f0e4a5bf8dd66eb75c3d4f'), ObjectId('65f0e4a5bf8dd66eb75c3d50'), ObjectId('65f0e4a5bf8dd66eb75c3d51'), ObjectId('65f0e4a5bf8dd66eb75c3d52'), ObjectId('65f0e4a5bf8dd66eb75c3d53'), ObjectId('65f0e4a5bf8dd66eb75c3d54'), ObjectId('65f0e4a5bf8dd66eb75c3d55'), ObjectId('65f0e4a5bf8dd66eb75c3d56')], acknowledged=True)

In [ ]:
# To insert test documents:
collection.insert_many(test_docs)

#### To fetch/read documents:

In [ ]:
# To fetch specific document by passing ID:
collection.find_one(1)

In [ ]:
# To fetch all documents:
results = collection.find()

# OR
# results = collection.find({})

In [ ]:
# To display documents:
for res in results:
    print(res)

In [ ]:
# To fetch only few documents:
ans = collection.find({}).limit(3)

In [ ]:
# To display documents:
for doc in ans:
    print(doc)

#### To delete documents:

In [ ]:
# To delete one document:
collection.delete_one({"_id": 14})

In [ ]:
# To delete selected documents:
del_docs = { "first_name": {"$regex": "^t"} }

In [ ]:
collection.delete_many(del_docs)

In [ ]:
# To delete all documents - not recommended!
# collection.delete_many({})

#### To update documents:

In [ ]:
# Storing values in variables to be updated/edited:
doc_update = {"first_name": "Deo"}
val_update = {"$set": {"first_name": "Deora"}}

In [ ]:
# To update one document:
collection.update_one(doc_update, val_update)

In [ ]:
# Storing values in variables to be updated/edited:
docs_update = {"first_name": {"$regex": "^A"}}
vals_update = {"$set": {"coach": "Wilson"}}

In [ ]:
# To update multi documents:
collection.update_many(docs_update, vals_update)

#### To drop/delete a collection - unless it's not required for production or testing!

> - For Collection to get created by the MongoDB server, atleast one document needs to be inserted.

In [ ]:
test_collection = db.collection["test_collection"]

In [ ]:
test_collection.insert_one({"name": "Sample Document"})

In [ ]:
test_collection.drop()

In [ ]:
# To insert multiple documents:
collection.insert_many(docs)